@use 'parciais/base' as *;
@use 'componentes/header' as *;
@use 'componentes/_navbar.scss' as *;
@use 'componentes/main' as *;
@use 'componentes/footer' as *;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}